<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Secret Secret</title>
	</head>
	<body>
		<h1>Secret Secret</h1>
		<a href="/logIn">Log In</a>
		<a href="/signUp">Sign Up</a>
	</body>
</html>
