<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Secret Secret</title>
	</head>
	<body>
		<form action="/joinClub" method="POST">
			<label for="passcode">Passcode:</label>
			<input name="passcode" id="passcode" type="text" required />
			<button type="submit">Submit</button>
		</form>
		<a href="/homepage">Back to Homepage</a>
	</body>
</html>
